html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video  {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
p {
    margin: 0;
}

ol, ul {
    list-style: none;
}
button {
    border:none
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}
.customer-block {
    background-color: #000000;
}

.container-centerer {
    width:80.83333%;
    max-width: 970px;
    margin: 0 auto;
    /*width:970px;*/
}
.customer-block .container-centerer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.customer-block-customer-settings {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.customer-block-custom-care,
.customer-block-customer-settings .currency,
.customer-block-customer-settings .account,
.customer-block-customer-settings .search {
    font: 0.6875rem "Arial Regular", "Helvetica", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    /*font: 11px "Arial Regular", "Helvetica", sans-serif; */
}

.customer-block-customer-settings .currency,
.customer-block-customer-settings .account,
.customer-block-customer-settings .search {
    border-left: 1px solid #444444;
}

.customer-block-customer-settings .account a,
.customer-block-customer-settings .currency select {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 1em 1.3636em;
    /*padding: 11px 15px;*/
}

.customer-block .search {
    border-right: 1px solid #444444;
}

.customer-block .search a {
    display: block;
    padding: 0.8181em;
}

.customer-block-customer-settings .currency select {
    background-color:  #000000;
    border: none;
    font: 0.6875rem "Arial Regular", "Helvetica", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

.customer-block-customer-settings .currency select:focus {
    outline: none;
}

.customer-block-customer-settings .currency option:focus {
    outline: none;
    border:none;
}

.customer-block .account-icon {
    position: relative;
    margin-right: 2.091em;
    /*margin-right: 23px;*/
}

.customer-block .account-icon::before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 1.2727em;
    height: 1.1818em;
    background-image: url("../img/icon_account.png");
    /*width:14px;*/
    /*height: 13px;*/
}

.search svg {
    width: 1.3636em;
    height: 1.3636em;
    /*width: 15px;*/
    /*height: 15px;*/
}

.icon-search-cls-1 {
    fill: #fff;
    fill-rule: evenodd;
}

.header-nav {
    background: #ffffff;
    padding: 1.3125rem 0;
    /*padding: 21px 0;*/
}

.header-nav .container-centerer {
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-end;
    align-items: center;
}

.header-nav_logo {
    /*padding: 21px 0;*/
    margin-right: auto;
}

.header-nav_links {
    font: 1rem "Arial Regular", "Helvetica", sans-serif;
    padding: 1.3125em 0;
    margin-right: 1.5em;
    /*font: 16px "Arial Regular", "Helvetica", sans-serif;*/
    /*padding: 21px 0;*/
    /*margin-right: 24px;*/
}

.header-nav_links li {
    display: inline-block;
    margin-right: 2em;
    /*margin-right: 32px;*/
}

.header-nav_links li:last-child {
    margin-right: 0;
}

.header-nav_links li a {
    display: block;
    padding: 0.5625em 0;
    text-decoration: none;
    color: #000;
    text-align: center;
    /*padding: 9px 0;*/
}

.icon-arrow-down {
    position: relative;
    margin-left: 5px;
}

.header-nav_links li .icon-arrow-down:after {
    content: '';
    position: absolute;
    top:40%;
    width: 7px;
    height: 4px;
    background-image: url("../img/arrow_down.png");
}

.header-nav_cart .cart {
    min-width: 13.3125rem;
    border: 1px solid #d6d6d6;
    border-collapse: collapse;
    font: 0.75rem "Arial Regular", "Helvetica", sans-serif;
    color: #949393;
    /*min-width: 213px;*/
    /*font: 12px "Arial Regular", "Helvetica", sans-serif;*/
}

.header-nav_cart .cart td {
    border-bottom: 1px solid #d6d6d6;
    padding: 0.833em;
    /*padding: 10px;*/
}

.cart .cart-header-viewall,
.cart .cart-item-price,
.cart .cart-total{
    text-align: right;
}

.cart .icon-arrow-down-grey {
    display: inline-block;
    width: 7px;
    height: 4px;
    background-image: url("../img/arrow_down_grey.png");
}

.header-nav_cart .cart-item {
    display: none;
}

.header-nav_cart .cart-total {
    position: relative;
    background-color: #fafafa;
}

.cart-total .cart-icon:before {
    content: '';
    position: absolute;
    top:0.5em;
    left: 0.833em;
    width: 20px;
    height: 19px;
    background-image: url("../img/icon-cart.png");
}

.cart-total .total-items {
    text-transform: uppercase;
}

.ad-slider {
    background: linear-gradient(to right, #ffffff, #e0d9ce);
}

.slide {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.ad-slider .slide img {
    display: block;
    max-width: 100%;
}

.notshow {
    display: none;
}

.slide-text-block {
    width:28.4167%;
    max-width: 341px;
    position: absolute;
    top: 50%;
    left:0;
    transform: translate(50%,-55%);
    text-align: center;
    color:#78645d;
    /*width:341px;*/
}

.slide-text-block .slide-text-italic {
    position: relative;
    display: inline-block;
    width: 71%;
    font: 2.5rem 'Great Vibes', cursive;
    text-align: center;
    /*font: 40px 'Great Vibes', cursive;*/
    /*width: 244px;*/
}

.slide-text-block .slide-text-italic:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width:29%;
    height: 1px;
    background-color: #78645d;
}

.slide-text-block .slide-text-italic:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width:29%;
    height: 1px;
    background-color: #78645d;
}

.slide-text-block img {
    margin-bottom: 0.4375rem;
    /*margin-bottom: 7px;*/
}

.slider-lines {
    display: block;
    position: relative;
    margin-bottom: 0.9375rem;
    /*margin-bottom: 15px;*/
}

.slider-lines:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 4px;
    background-color: #78645d;
}

.slider-lines:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width:100%;
    height: 1px;
    background-color: #78645d;
}

.slide-text-block .slide-text-capitalized {
    display: inline-block;
    font:2.25rem 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0.14em;
    /*font:36px 'Open Sans Condensed', sans-serif;*/
    /*margin-bottom: 5px;*/
}

.btn {
    font-family: "Myriad Pro", sans-serif;
    display: inline-block;
    background-color: #fd926d;
    border-bottom:3px solid #dd6b44;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.slide-text-block-btn {
    font-size: 1rem;
    padding: 1.25em;
    /*font-size: 16px;*/
    /*padding: 20px;*/
}

.icon-arrow-right {
    display: inline-block;
    position: relative;
    margin-left: 0.625em;
    height: 0.625em;
    width: 4px;
    vertical-align: middle;
    /*margin-left: 10px;*/
    /*height: 10px;*/
}

.icon-arrow-right:after {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 4px;
    height: 7px;
    background-image: url("../img/arrow_right.png");
}

.contacts {
    background-color: #ededed;
}

.contacts .container-centerer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.stayUpdated-form fieldset {
    font-size: 0;
}

.stayUpdated-form label {
    font: 0.75rem"Arial Regular", "Helvetica", sans-serif;
    color: #6b6b6b;
    margin-right: 0.8333em;
    /*font: 12px "Arial Regular", "Helvetica", sans-serif;*/
    /*margin-right: 10px;*/
}

#stayUpdated-form-input {
    font:0.75rem "Arial Regular", "Helvetica", sans-serif;
    font-style: italic;
    color: #9f9f9f;
    border:none;
    padding: 0.5417em;
    /*font: 12px "Arial Regular", "Helvetica", sans-serif;*/
    /*padding: 6.5px;*/
}

.btn-stayUpdated-form {
    width: 1.75rem;
    height: 1.75rem;
    border: none;
    border-bottom:3px solid #dd6b44;
    box-sizing: border-box;
    /*width: 28px;*/
    /*height: 28px;*/
}

.btn-stayUpdated-form svg,
.btn-addToCart-form svg {
    width: 0.6875rem;
    height: 0.6875rem;
    /*width: 11px;*/
    /*height: 11px;*/
}

.icon-plus_cls-1 {
    fill: #fff;
    fill-rule: evenodd;
}

.social-block {
    font-size: 0;
}

.social-block p {
    display: inline-block;
    vertical-align: middle;
    font: 0.75rem "Arial Regular", "Helvetica", sans-serif;
    color: #6c6c6c;
    margin-right: 1.3333em;
    /*font: 12px "Arial Regular", "Helvetica", sans-serif;*/
    /*margin-right: 16px;*/
}

.social-block a {
    display: inline-block;
    font-size: 0;
    text-decoration: none;
    width:3.4375rem;
    padding:0.875rem 0;
    background-color: #f7f7f7;
    text-align: center;
    /*width:55px;*/
    /*padding:14px 0;*/
}

.social-block a:nth-child(3) {
    background-color: transparent;
}

.social-block svg{
    fill: #6b6b6b;
    fill-rule: evenodd;
    vertical-align: middle;
}

.social-block .icon-fb {
    width: 0.5625rem;
    height: 1.3125rem;
    /*width: 9px;*/
    /*height: 21px;*/
}

.social-block .icon-tw {
    width: 1.3125rem;
    height: 1.3125rem;
    /*width: 21px;*/
    /*height: 21px;*/
}

.social-block .icon-p {
    width: 1.375rem;
    height: 1.3125rem;
    /*width: 22px;*/
    /*height: 21px;*/
}

.main-content-banner {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 2.5625rem;
    margin-bottom: 3.1875rem;
    /*margin-top: 41px;*/
    /*margin-bottom: 51px;*/
}

.banner-left,
.banner-right-top,
.banner-right-bottom-left,
.banner-right-bottom-right {
    display: block;
    position: relative;
    margin: 0;
}

.banner-left,
.banner-right{
    width:50%;
    font-size: 0;
}

.banner-right-top {
    width: 100%;
}

.banner-right-bottom-left,
.banner-right-bottom-right{
    display: inline-block;
    width:50%;
}

.main-content-banner img {
    display: block;
    max-width: 100%;
    margin: 0;
}

.banner-header {
    position: absolute;
    top:0;
}

.banner-left-header {
    width: 12.5rem;
    text-align: center;
    right:0;
    transform: translate(-20%, 35%);
    /*overflow: hidden;*/
    /*width: 200px;*/
}

.banner-left-header .bold {
    font:1.8rem 'Myriad Pro', sans-serif;
    color:#414141;
    font-weight: 900;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    line-height:0.94em;
    /*height: 32px;*/
    padding: 0;
    margin: 0;
    /*font:28px 'Myriad Pro', sans-serif;*/
    /*line-height:32px;*/
}

.banner-left-header .thin {
    font:4.6875rem 'Open Sans Condensed', sans-serif;
    color:#414141;
    text-transform: uppercase;
    line-height:0.9333em;
    padding: 0;
    margin: 0;
    /*font:75px 'Open Sans Condensed', sans-serif;*/
    /*line-height:70px;*/
}

.banner-left-header .and {
    position: relative;
    display: inline-block;
    width: 2.0625rem;
    height: 2.0625rem;
    border-radius: 50%;
    background-color: #414141;
    /*width: 33px;*/
    /*height: 33px;*/
}
.banner-left-header .and span {
    font:1.375rem 'Myriad Pro', sans-serif;
    color: #ffffff;
    line-height: 1.5em;
    /*font:22px 'Myriad Pro', sans-serif;*/
    /*line-height: 33px;*/
}

.banner-left-header .and:before {
    content: '';
    position: absolute;
    top:50%;
    left: 0;
    transform: translateX(-40%);
    width:12rem;
    height: 1px;
    background-color: #414141;
    z-index: -1;
}


.banner-left-header .super-bold {
    font:3.4375rem 'Myriad Pro', sans-serif;
    letter-spacing: -0.06em;
    line-height: 1em;
    color:#4fafa0;
    font-weight: 800;
    text-transform: uppercase;
    /*font:55px 'Myriad Pro', sans-serif;*/
}

.banner-right-top-header {
    width:130px;
    height: 130px;
    border-radius: 50%;
    background-color: #ffffff;
}

.banner-right-top-header .italic {
    font:22px 'Myriad Pro', sans-serif;
    font-style: italic;
    color: #ffa687;
}

.banner-right-top-header .thin {
    font:42px 'Open Sans Condensed', sans-serif;
    color: #c1aea8;
    text-transform: uppercase;
}

.banner-right-top-header .small {
    font:14px 'Open Sans Condensed', sans-serif;
    color: #6a6a6a;
    text-transform: uppercase;
}

.banner-right-bottom-left-header{
    font:34px 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

.banner-right-bottom-right-header h2{
    font:36px 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    line-height: 34px;
}

.banner-right-bottom-right-header .banner-btn {
    background-color: #4fafa0;
    font-size:12px;
    border:none;
    padding: 8px;
}

.main-content-carusel .container-centerer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.carusel-nav, .carusel-nav-arrows {
    font-size: 0;
}
.main-content-carusel .carusel-nav li {
    display: inline-block;

}

.main-content-carusel .carusel-nav li a {
    font: 15px "Arial Regular", "Helvetica", sans-serif;
    color: #555555;
    padding: 17px 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.main-content-carusel .carusel-nav .carusel-nav-active {
    background-color: #fd926d;
    color: #ffffff;
}

.carusel-nav-arrows .arrow {
    width:47px;
    height: 47px;
    display: inline-block;
    background-color: #f2f2f2;
}

.carusel-nav-arrows .carusel-nav-arrow-active {
    background-color: #fd926d;
}

.carusel-nav-arrows .arrow svg {
    width: 28px;
    height: 14px;
}

.carusel-content {
    background-color: #fd926d;
    padding:30px 0;
    font-size: 0;
    margin-bottom: 24px;
}

.item {
    max-width: 220px;
    display: inline-block;
    vertical-align: middle;
    background-color: #f7f7f7;
}

.item-picture {
    display: block;
    max-height: 288px;
    overflow-y: hidden;
    background-color: #ece9e4;
}

.item-picture img {
   width: 100%;
   height: auto;
}

.item-description {
    padding: 10px 0;
    font-family: "Arial Regular", "Helvetica", sans-serif;
    text-transform: uppercase;
}

.item-description-link {
    display: block;
    text-decoration: none;
    color: #555555;
}

 .item-name {
    font-size: 15px;
}

 .item-price {
    font-size: 22px;
}

.btn-addToCart-form {
    padding: 10px 9px;
}

.clearance {
    margin-bottom: 61px;
}


.clearance-logo {
    width: 157px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 26px;
}

.clearance-logo img {
    max-width: 100%;
}

.clearance .clearance-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.favourite-brands {
    position: relative;
    padding: 20px 0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 29px;
}

.favourite-brands h2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 15px "Arial", "Helvetica", sans-serif;
    text-transform: uppercase;
    color: #414141;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    padding: 0 20px;

}

.favourite-brands-logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.favourite-brands-logos img {
    /*max-width: 100%;*/
}

.about {
    margin-bottom: 46px;
}

.about h2 {
    font: 24px "Arial Regular", "Helvetica", sans-serif;
    text-transform: capitalize;
    color: #414141;
    text-align: center;
    margin-bottom: 14px;
}

.about p {
    font: 14px "Arial Regular", "Helvetica", sans-serif;
    color: #999999;
    text-align: center;
    margin-bottom: 14px;
    line-height: 18px;
}

.we-accept {
    background-color: #f7f7f7;
    font-size: 0;
    padding: 19px;
}

.we-accept span {
    display: inline-block;
    font: 12px "Arial Regular", "Helvetica", sans-serif;
    color: #999999;
    vertical-align: middle;
    margin-right: 13px;
}
.accepted-cards {
    display: inline-block;
    vertical-align: middle;
}

.about-info {
    background-color: #ededed;
    padding: 33px 0;
}

.about-info .container-centerer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.about-info .info-header {
    font: 16px "Arial", "Helvetica", sans-serif;
    color: #544f4d;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 14px;
}

.about-info li a {
    display: block;
    font: 12px "Arial", "Helvetica", sans-serif;
    color: #544f4d;
    text-decoration: none;
    padding: 2px 0;
}

.social {
    width:125px;
}

.social a {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 9px;
}

.icon-secured {
    align-self: center;
}

.icon-secured img {
    max-width: 100%;
}

footer {
    background-color: #000000;
    padding: 30px 0;
}

footer .container-centerer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer-nav li {
    display: inline-block;
    font-size: 0;
}

.footer-nav a {
    display: block;
    font: 11px "Arial", "Helvetica", sans-serif;
    color: #8d8d8d;
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px solid #8d8d8d;
}

.footer-nav li:first-child a{
    padding-left: 0;
}

.footer-nav li:last-child a{
    padding-right: 0;
    border: none;
}

.footer-copyright {
    width: 96px;
}

.footer-copyright p {
    font: 11px "Arial", "Helvetica", sans-serif;
    color: #8d8d8d;
    line-height: 18px;
}

















































